{% extends "base.html" %}

{% block title %}
Success aggregation
{% endblock %}

{% block head %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 0.25rem;
        text-align: center;
        border: 2px solid #ffffff;
    }

    .hover {
        background: yellow;
    }
</style>
{% endblock %}

{% block content %}
<h1 style="text-align:center"> Success !!! </h1>
<h2>Aggregator manage to aggregate {{ aggregated_schedules|length }} schedules into {{ groups| length }} groups</h2>
{% for group in groups %}
<h3>Group nr: {{ forloop.counter }}</h3>
<table>
    <tr>
        <th>Energy coverage</th>
        <th>Hour coverage</th>
        <th>Energy loss</th>
        <th>Total energy</th>
        <th>Number of schemas</th>
    </tr>
    <tr>
        <td>{{ group.energy_coverage }}</td>
        <td>{{ group.hour_coverage }}</td>
        <td>{{ group.energy_loss }}</td>
        <td>{{ group.offer.total_energy }}</td>
        <td>{{ group.offer.number_of_schemas }}</td>
    </tr>
</table>
<br>
<h4>Energy request</h4>
<table>
    <tr>
        {% for hour_offer in group.offer.hour_offers.all%}
        <th>{{ hour_offer.hour_index }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for hour_offer in group.offer.hour_offers.all%}
        <td>{{ hour_offer.energy }}</td>
        {% endfor %}
    </tr>
</table>
{% endfor %}

<h2>To return to aggregation process: <a href="{% url 'trigger_aggregation' %}">aggregation process</a></h2>
<h2>To go to admin site: <a href="{% url 'admin:index' %}">admin site</a></h2>
{% endblock %}

